yarn.lock
package-lock.json

# Local files
.env.local
.env.*.local
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dists
lib
dist
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.project
.idea
.hbuilderx
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?